<div class="container mt-5">
  <h2>Your Cart</h2>

  <ng-container *ngIf="cartItems.length > 0; else emptyCart">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.product.title }}</td>
          <td>{{ item.product.price | currency }}</td>
          <td>
            <button (click)="decreaseItemQuantity(item.product.id)">➖</button>
            {{ item.quantity }}
            <button (click)="increaseItemQuantity(item.product.id)">➕</button>
          </td>
          <td>{{ item.product.price * item.quantity | currency }}</td>
          <td>
            <button (click)="deleteItem(item.product.id)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Total: {{ totalPrice | currency }}</h3>
    <div class="d-flex justify-content-between">
      <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
      <a routerLink="/checkout" class="btn btn-primary text-end">Proceed to CheckOut</a>
    </div>
  </ng-container>

  <ng-template #emptyCart>
    <p class="text-center mt-4">Your cart is empty 😢</p>
  </ng-template>
</div>
